<!DOCTYPE html>
<html>
<head>
	<title>tic-tac-toe</title>
	<link rel="stylesheet" type="text/css" href="index.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>		
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script src="/vue-confetti.js"></script>							

	<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
</head>
<body>

	<div id="board">	
		<div class="game-board">
			<div class="game-board-row" v-for="(row,index) in board" >
				<div 
					class="game-board-cell" 
					v-for="(cell,cellIndex) in row" 
					@click="makeMove(cellIndex,index)"
				>
					{{cell}}
				</div>
			</div>
		</div>
		<h4 v-html="eventText">	</h4>
	</div>
	<script type="text/javascript">
		var socket = io()

		new Vue({
			el : '#board',
			data: {
				board: {},
				players: {},
				player: {},
				eventText : 'afeaf',
				turn: false,
				opponent: {}

			},
			mounted : function(){

				socket.on('board.connection',function(data){
					
					this.board = data.board
					this.turn = data.turn
					this.player = data.player
					this.opponent = data.opponent
					
					let name = prompt("Please enter your name:", "Test")
					this.eventText = 'Welcome ' +name+'<br>'+ this.getEventText()

					socket.emit('board.playerName', name)
				}.bind(this))

				socket.on('board.disconnect',function(name){
					this.opponent.connected = false
					this.eventText = this.getEventText(name+' has disconnected'+'<br>')
				}.bind(this))	
				

				socket.on('board.opponentConnected',function(opponent){
					this.opponent = opponent
					this.eventText = this.getEventText(opponent.name+' has connected!' +'<br>')
				}.bind(this))
				
				socket.on('board.movePlayed',function(board){
					this.board = board
					this.turn = !this.turn
					this.eventText = this.getEventText()
				}.bind(this))
				
				socket.on('board.winner',function(player){
					alert(player.name+' has won')
				}.bind(this))
				
			},
			methods: {
				makeMove: function(x,y){
					socket.emit('board.makeMove',{
						'x':x,
					 	'y':y,
					 })
				},
				getEventText: function(prefix){

					prefix = prefix || ''

					if(this.turn){
						return prefix + 'your move'
					}else{
						return prefix + this.opponent.connected ? 
							(this.opponent.name+'\'s move') :
							'waiting for opponent to connect' 
					}
				}
			}	
		})
	</script>
</body>
</html>