body{
	height:200px;
	width: 200px;
	background-color:hotpink;
}

.game-board{
	display: block;
}
.game-board-cell{
	width: 100px;
    height: 100px;
    background-color: white;
    border: 5px solid black;
    box-sizing: border-box;
	color: #fff;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 2em;
	font-weight: bold;
	color:black;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;


}
.game-board-row{
	display:flex;
	width: 300px
}